.button {
  font-size: 28px;
  font-weight: bold;
  width: 38px;
  height: 40px;
  border: 1px solid var(--primary-color);
  border-radius: 25%;
  background-color: transparent;
  transition:
    background-color .3s ease-out,
    color .2s;
  cursor: pointer;
}

.button:focus-visible {
  background-color: var(--primary-color);
  color: var(--alt-background);
}

@media (hover: hover) {
  .button:hover {
    background-color: var(--primary-color);
    color: var(--alt-background);
  }
}