.container {
  padding: 0 20px;
}

.heading {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.range {
  margin-bottom: 40px;
}

.signatureSelector {
  margin-top: 50px;
  margin-left: 25px;
}