.container {
  height: 100%;
  display: flex;
}

.content {
  flex-grow: 1;
  background-color: var(--alt-background);

  /* fail-safe for options button on mobile displays with low height */
  overflow-y: auto;
  padding-bottom: 64px;
}

.heading {
  font-size: 28px;
  margin: 0 0 10px;
  text-align: center;
}