.form {
  max-width: 150px;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.table th {
  user-select: none;
}

.tableHeading {
  font-size: 22px;
  vertical-align: top;
  height: 42px;
}

.keysHeading {
  width: 20px;
}

.key {
  text-align: left;
  font-size: 18px;
  height: 35px;
}