.form {
  max-width: 200px;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.table th {
  user-select: none;
}

.tableHeading {
  font-size: 22px;
  vertical-align: top;
  height: 48px;
}

.keysHeading {
  width: 26px;
}

.key {
  text-align: left;
  font-size: 22px;
  height: 52px;
}