.button {
  align-self: center;
  justify-self: center;
  border: none;
  border-radius: 25%;
  background-color: transparent;
  transition: filter .5s;
}

@media (hover: hover) {
  .button:hover {
    filter: drop-shadow(#111 0 0 5px) drop-shadow(#c8c8c8 0 0 8px);
    cursor: pointer;
  }
}

.buttonImage {
  display: block;
}