.button {
  border: none;
  border-radius: 25%;
  background-color: transparent;
  transition: filter .5s;
  cursor: pointer;
}

.buttonIcon {
  display: block;
  fill: var(--primary-color);
  transition: fill .3s ease-out;
}

.pressed .buttonIcon {
  animation: light-up 1.1s ease-out;
}

@keyframes light-up {
  from {
    filter: drop-shadow(#c8c8c8 0 0 3px) drop-shadow(var(--primary-color) 0 0 7px);
  }
}

@media (hover: hover) {
  .button:hover:not(.pressed) .buttonIcon {
    fill: var(--primary-hover-color);
  }
}