.overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
  background-color: transparent;
  pointer-events: none;
  transition: background-color 1.5s linear, visibility 1.5s;
}

.overlay.show {
  visibility: visible;
  background-color: var(--overlay-color);
  pointer-events: all;
  transition: background-color 1.5s linear;
}

.content {
  height: 100%;
  width: 85%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform .5s cubic-bezier(.38, .76, .57, 1);
}

.content.show {
  transform: translateX(0);
}