.button {
  position: fixed;
  left: 20px;
  bottom: 10px;
  border: none;
  border-radius: 15%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.buttonIcon {
  width: 38px;
  height: 38px;
  fill: var(--primary-color);
  transition: fill .3s ease-out;
}

.button.pressed {
  animation: light-up 1.1s ease-out;
}

.button.pressed .buttonIcon {
  fill: var(--primary-color);
}

@keyframes light-up {
  from {
    filter: drop-shadow(#c8c8c8 0 0 10px) drop-shadow(var(--primary-color) 0 0 5px);
  }
}

.tempoValue {
  min-height: 20px;
  font-size: 18px;
  font-weight: 800;
  line-height: 1;
  transition: color .3s ease-out;
}

@media (hover: hover) {
  .button:hover:not(.pressed) .buttonIcon {
    fill: var(--primary-hover-color);
  }

  .button:hover:not(.pressed) .tempoValue {
    color: var(--primary-hover-color);
  }
}