.pageContainer {
  position: relative;
  height: 100svh;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.heading {
  padding: 0 55px;
  text-align: center;
  align-self: center;
}

.displayContainer {
  width: 100%;
  max-width: 750px;
  align-self: end;
  justify-self: center;
}

.shuffleButton {
  align-self: center;
  justify-self: center;
}