.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  animation: fade-in 1.5s forwards;
}

.overlay.close {
  animation: fade-out 1.5s;
}

.content {
  padding: 30px 0 0 40px;
  background-color: var(--alt-background);
  height: 100%;
  width: 80%;
  max-width: 500px;
  animation: slide-in .6s cubic-bezier(.38, .76, .57, 1);
}

.content.close {
  animation: slide-out .6s cubic-bezier(.38, .76, .57, 1) forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes fade-in {
  from {
    background-color: transparent;
  }

  to {
    background-color: var(--overlay-color);
  }
}

@keyframes fade-out {
  from {
    background-color: var(--overlay-color);
  }

  to {
    background-color: transparent;
  }
}